@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  /* @apply grid xl:grid-cols-5 max-w-[1265px] mx-auto; */
  @apply flex flex-row mx-auto xl:w-[1265px];
}

.sidebar{
  @apply xl:w-[275px]
}

.container{
  @apply flex flex-row justify-between xl:w-[990px]
}

.feed{
  @apply xl:w-[600px] 
}

.trending{
  @apply xl:w-[350px]
}

.hidden_xl {
  @apply max-xl:hidden
}

.hidden_md {
  @apply max-md:hidden
}

.textarea[contentEditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}
.textarea[contentEditable]:empty::after {
  text-decoration: none;
  user-select: text;
  font-family: inherit;
  font-size: inherit;
}
/* Feed Component */
/* Form Component */
/* Nav Component */
/* PromptCard Component */
